mixin nav_item_dropdown(href, active)
    li(class= ['nav-item dropdown', active])
        a(href=href)
            block
            i(class= 'fas fa-caret-down')
mixin nav_item_dropright(href, active)
    li(class= ['nav-item dropright', active])
        a(href=href)
            block
            i(class= 'fas fa-caret-right')

mixin nav_item(href, active)
    li(class= ['nav-item', active])
        a(href= href)
            block

mixin thumbnail(imageName, title, summary, new : false)
    - var isNew = new
    div.thumnail
        a(href="#")
            img.thumbnail__img(src="images/#{imageName}.jpg", alt=title)
            h4.thumbnail__title= title
            p.thumbnail__summary= summary
            if isNew
                span.new kkkk!
